<div class="container">
	
	<br>
	<h1>You can currently apply for <strong><%= @tasks.count %> tasks</strong> near <i class="fas fa-map-marker-alt"></i> <strong>Lyon</strong></h1>
	
	<div class="tasks-grid">
		<% @tasks.each do |task| %>
			<div class="task-card show-one">
			  <%= cl_image_tag("Pics/#{task.action}",
          width: 400, height: 300, crop: :fill, :effect=>"grayscale") %>
			  <div class="task-card-infos">
			    <div class="task-card-description">
			      <h2><%= task.action.capitalize %></h2>
			      <p><strong>Status: </strong><%= Task::STATUS[task.status.to_i].capitalize %></p>
			      <p><strong>Location: </strong><%= task.location %></p>
			      <p><strong>Date: </strong><%= task.date %></p>
			      <p><strong>Flat owner: </strong><%= task.user_id %></p>
			    </div>
			    <h2 class="task-card-pricing"><%= task.price %> €</h2><!-- 
			    <img src='https://kitt.lewagon.com/placeholder/users/krokrob' class="task-card-user avatar-bordered"/>
 -->
				<%= cl_image_tag("Faces/face#{rand(1..12)}",
				:transformation=>[{ :gravity=>"face", :radius=>"max", :crop=>"crop"}, {:width=>200, :crop=>"scale"}], :class => "task-card-user avatar-bordered") %>
			  </div>
			  <div class="d-flex m-1 justify-content-between">
				  <%= link_to "Details", task_path(task), class: 'btn btn-secondary mr-1' %>
				  <% if current_user.id == task.user_id %>
				  <%= link_to "Edit" , edit_task_path(task), class: 'btn btn-primary' %>
				  <% end %>
				  <%= link_to "Apply" , new_task_assignment_path(task), class: 'btn btn-info' %>
			  </div>
			</div>
		<% end %>
	</div>

</div>