<div class="container">
 <h1>Task <%= @task.id %> - <%= @task.action %> </h1>

  <div class="row">
    <div class="col-12 col-lg-8">
    	<div class="task-card">
    	  		<%= cl_image_tag("Pics/#{@task.action}",
              width: 600, height: 400, crop: :fill, gravity: :face, :effect=>"grayscale") %>
    	  <div class="task-card-infos">
    	    <div>
    	      <h2> <%= @task.action %></h2>
    	      <p><strong>Status: </strong><%= @task.status %></p>
    	      <p><strong>Location: </strong><%= @task.location %></p>
    	      <p><strong>Date: </strong><%= @task.date %></p>
    	      <p><strong>Flat owner: </strong><%= @task.user_id %></p>
    	    </div>
                <% if current_user.id == @task.user_id %>
	    	    <%= link_to "Edit" , edit_task_path(@task), class: 'btn btn-primary' %>
                <% end  %>
	    	    <%= link_to "Apply" , new_task_assignment_path(@task), class: 'btn btn-info' %>
    	    <h2 class="task-card-pricing"><%= @task.price %> €</h2>
    	    <img src='https://kitt.lewagon.com/placeholder/users/krokrob' class="task-card-user avatar-bordered"/>
    	  </div>
    	</div>	
    </div>
    <div class="col-12 col-lg-4">
    	<div id="map" style="width: 100%; height: 350px;"
    	  data-marker="<%= @marker.to_json %>"
    	  data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
    	</div>
    </div>

    <div>
        <% @task.assignments.each do |assignment| %>  

            <div class="card-candidate">
              <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg">
              <div class="card-candidate-infos">
                <h2>Candidate id: <%= assignment.user_id %></h2>
                <h2>Assignment id: <%= assignment.id %></h2>
                <div>
                    <p>Application status: <strong>
                        <% if assignment.validated == nil %>
                        <%= "PENDING" %>
                        <% else %>
                        <%= assignment.validated == true ? "VALIDATED" : "REJECTED" %>
                        <% end %>
                    </strong></p>
                    <%= link_to "Validate" , valid_assignment_path(assignment),  method: :patch,class: 'btn btn-info' %>
                    <%= link_to "Reject" , reject_assignment_path(assignment), method: :patch ,class: 'btn btn-danger' %>
                </div>
              </div>
            </div>
 
    <% end %>

</div>